@* TENTATIVE LOADER *@
<div id="global-loader" class="global-loader">
    <div class="spinner-container">
        <i class="fa-solid fa-circle-notch loading-icon"></i>
        <div class="loading-text mt-3 fw-bold text-white">LOADING...</div>
    </div>
</div>