@model MavinsBarberBooking.Models.Entities.EmailVerification

@{

}

<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <h2>Verify Your Email</h2>
            <p>A verification code has been sent to your email <a href="#">@ViewData["Email"]?.ToString()</a>. Please enter it below.</p>

            <form method="post">
                <div class="mb-3">
                    <label for="verificationCode" class="form-label">Verification Code</label>
                    <input type="text" class="form-control" id="verificationCode" asp-for="VerificationCode" required>
                    <span asp-validation-for="VerificationCode" class="text-danger"></span>
                </div>

                <button type="submit" class="btn btn-primary">Verify</button>

                <a asp-action="Register" asp-controller="Account" class="btn btn-secondary">
                    Register Again
                </a>
            </form>
        </div>
    </div>
</div>

@section Scripts {
    @{
        await Html.RenderPartialAsync("_ValidationScriptsPartial");
    }
}