/* ── Google Font ── */
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

body, html {

}

body {
    font-family: 'Poppins', sans-serif;
}

.bg-watermark {
    position: fixed;
    top: 0;
    right: -10%;
    height: 100vh;
    z-index: 1;
    display: flex;
    align-items: center;
    opacity: 0.15;
    filter: blur(8px);
    pointer-events: none;
}

    .bg-watermark img {
        height: 130%;
        object-fit: contain;
    }



/* --- Default Desktop Sizes --- */
.custom-nav-link {
    font-size: 1rem;
}

.profile-icon {
    font-size: 2rem;
}

.profile-last {
    font-size: 1.1rem;
}

.profile-first {
    font-size: 1rem;
}

/* --- Mobile Responsiveness --- */
@media (max-width: 768px) {
    .nav-links-container {
        width: 100%; /* Forces the links to drop to a new row below the logo */
        gap: 15px !important; /* Shrinks the space between links */
    }

    .custom-nav-link {
        font-size: 0.85rem; /* Smaller text to fit the screen */
    }

    .profile-icon {
        font-size: 1.5rem; /* Slightly smaller icon */
    }

    .profile-last {
        font-size: 0.95rem;
    }

    .profile-first {
        font-size: 0.85rem;
    }
}


.custom-dark-btn {
    background-color: #3b3b3b;
    border: 1px solid transparent;
    transition: all 0.3s ease;
}

    .custom-dark-btn:hover {
        background-color: #212121;
    }